{% extends 'base.html' %}

{% load static %}

{% block 'body' %}
<main style="min-height: 90vh;" class="d-flex flex-column align-items-center justify-content-center">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <form action="" method="post">
            {% csrf_token %}
            <div
                class="d-flex flex-column align-items-center border border-black border-1 rounded-2 p-2 gap-2 bg-primary-subtle">
                <div class="d-flex flex-column">
                    <label class="form-label" for="username_or_email">Nome do usuário ou e-mail</label>
                    <input class="form-control border-primary-subtle" type="text" name="username_or_email" id="username_or_email"
                        required>
                </div>
                <button type="submit" class="btn btn-outline-dark w-100">Solicitar nova senha</button>
            </div>
        </form>
    </div>

</main>
{% endblock %}